<div class="alert alert-danger" role="alert">Sản phẩm đã bán hết. Xin chọn sản phẩm khác.</div>
<div class="col-md-12">
	<a href="<?= $_GET["url"] ?>" class="btn btn-default">
		<span class="glyphicon glyphicon-chevron-left"></span>
		Quay lại
	</a>
</div>